{% extends "WebBundle:Default:base.html.twig" %}

{% block content %}
    <hr class="featurette-divider">

        <!-- Clientes Particulares -->
        <div class="featurette" id="clientes-particulares">
            <img class="featurette-image img-circle img-responsive pull-right" src="img/clientes_particulares_500x500.jpg">
            <h2 class="featurette-heading"><a href="/clientes-particulares" alt="Clientes Particulares" title="Clientes Particulares">Clientes
                <span class="text-muted">Particulares</span></a>
            </h2>
            <p class="lead">Desde la comodidad de su hogar, sin tener que trasladarse, sin tener grandes esperas, usted puede disponer en su domicilio o lugar de trabajo del equipamiento adecuado para cualquier tratamiento.<br>
            Nuestros clientes agradecidos porque pueden hacer uso de su tiempo, debido a la comodidad que representa tener equipamiento en su domicilio.</p>
            <a href="#" class="btn btn-primary" role="button">Conozca nuestros productos y servicios</a>
        </div>

        <hr class="featurette-divider">

        <!-- Prestadores Médicos -->
        <div class="featurette" id="prestadores-medicos">
            <img class="featurette-image img-circle img-responsive pull-left" src="img/prestadores_medicos_500x500.jpg">
            <h2 class="featurette-heading"><a href="/prestadores-medicos" alt="Prestadores Médicos" title="Prestadores Médicos">Prestadores 
                <span class="text-muted">Médicos</span></a>
            </h2>
            <p class="lead">EMD ARGENTINA pone a su alcance equipamiento médico en domicilio en la areas de Kinesiología/Rehabilitación, Oxigenoterapia, Internacion Domiciliaria.<br>
			Usted puede disponer de equipamiento profesional en el domicilio del paciente. De esta manera se jerarquiza el servicio prestado, logrando una mejora desde el aspecto cualitativo y cuantitativo del tratamiento. Ahorrando asi recursos humanos, pudiendo disponer de los mismos para otros pacientes.
			</p>
			<a href="#" class="btn btn-primary" role="button">Conozca nuestros productos y servicios</a>
        </div>

        <hr class="featurette-divider">

        <!-- Instituciones Deportivas -->
        <div class="featurette" id="instituciones-deportivas">
            <img class="featurette-image img-circle img-responsive pull-right" src="img/instituciones_deportivas_500x500.jpg">
            <h2 class="featurette-heading"><a href="/instituciones-deportivas" alt="Instituciones Deportivas" title="Instituciones Deportivas">Instituciones 
                <span class="text-muted">Deportivas</span></a>
            </h2>
            <p class="lead">Por haber sido deportistas, conocemos la problemática de la rehabilitación del deportista. Ofrecemos un servicio que puede dar celeridad a los procesos de recuperación. 
            </p>
            <a href="#" class="btn btn-primary" role="button">Conozca nuestros productos y servicios</a>
        </div>

        <hr class="featurette-divider">
{% endblock %}